<div class="navbar">
  <div class="container">
    <!-- En navbar-brand iria el logo.png -->
    <div class="navbar-brand">AppProyectos</div> 
    <ul class="navbar-nav">
      <li class="nav-item"><a href="/" class="nav-link"><i class="fas fa-home"></i></a></li>
      <li class="nav-item"><a href="/search" class="nav-link"><i class="fas fa-search"></i></a></li>
      <li class="nav-item"><a (click)="onUserIconClick()" class="nav-link" style="cursor: pointer;"><i class="fas fa-user"></i></a></li>
    </ul>
  </div>
</div>

<router-outlet></router-outlet>

<div class="contact-buttons">
  <a href="https://facebook.com" target="_blank" class="btn-contact"><i class="fab fa-facebook-f"></i></a>
  <a href="https://twitter.com" target="_blank" class="btn-contact"><i class="fab fa-twitter"></i></a>
  <a href="https://instagram.com" target="_blank" class="btn-contact"><i class="fab fa-instagram"></i></a>
  <a href="mailto:someone@example.com" class="btn-contact"><i class="fas fa-envelope"></i></a>
</div>
