.navbar {
  width: 100%;
  padding: 5px 0; /* Reduce el padding superior e inferior */
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 1.2em; /* Reduce el tamaño de la fuente */
  color: rgb(255, 255, 255);
}

.nav-item {
  margin-left: 10px; /* Reduce el margen entre los elementos */
}

.nav-item a {
  color: white;
  padding: 8px 10px; /* Reduce el padding de los enlaces */
  transition: background-color 0.3s;
  cursor: pointer;
}

.nav-item a:hover {
  background-color: #555;
  border-radius: 5px;
}
