<div class="welcome-page">
  
  
  <div class="welcome-content">
    <h1>Bienvenido a AppProyectos</h1>
    <p>Busca proyectos según su nombre o tus preferencias. Encuentra rápidamente lo que necesitas para tus proyectos.</p>
    <a href="/search" class="btn-go-to-search">Buscar proyectos</a>
  </div>

  <br>
  
  <div class="features">
    <div class="feature">
      <i class="icon fas fa-search"></i>
      <h3>Búsqueda Rápida</h3>
      <p>Encuentra proyectos en segundos con nuestro motor de búsqueda eficiente.</p>
    </div>
    <div class="feature">
      <i class="icon fas fa-filter"></i>
      <h3>Filtros Personalizados</h3>
      <p>Ajusta los filtros para encontrar exactamente lo que buscas.</p>
    </div>
    <div class="feature">
      <i class="icon fas fa-heart"></i>
      <h3>Favoritos</h3>
      <p>Guarda tus proyectos favoritos para acceder a ellos fácilmente.</p>
    </div>
  </div>
</div>


