<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404 - Página no encontrada</title>
    <link rel="stylesheet" href="C:\Users\sanlu\Documents\tp-web-cui\Frontend\AppProyectos\src\styles.css">
</head>
<body>
    <div class="error-page">
        <div class="error-container">
            <h1 class="error-title">Error 404</h1>
            <p class="error-message">Lo sentimos, la página que estás buscando no se encuentra.</p>
            <a href="/" class="back-home-button">Volver a la página principal</a>
        </div>
    </div>
</body>
</html>
