.login-container {
  max-width: 400px;
  margin: 250px auto; /* Ajusta el margen superior para que no se superponga con la navbar */
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.8); /* Fondo semi-transparente */
  color: white; /* Texto blanco */
}

.login-container h2 {
  margin-bottom: 20px;
  color: #ff9800; /* Color naranja */
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1); /* Fondo semi-transparente */
  color: white; /* Texto blanco */
}

.form-control::placeholder {
  color: #ddd; /* Color del placeholder */
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #ff9800; /* Fondo naranja */
  border: none;
  border-radius: 4px;
  color: white; /* Texto blanco */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #e68900; /* Fondo naranja oscuro */
}

.error {
  color: red;
  margin-top: 10px;
}
