<div class="content-container">
  <div class="register-container">
    <h2>Registro</h2>
    <form (ngSubmit)="onRegister()">
      <div class="form-group">
        <label for="username">Usuario</label>
        <input type="text" id="username" [(ngModel)]="username" name="username" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" id="password" [(ngModel)]="password" name="password" class="form-control" required>
      </div>
      <button type="submit" class="btn">Registrar</button>
      <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
    </form>
    <br>
    <p style="text-align: center">¿Ya tienes una cuenta? <a routerLink="/login">Inicia sesión</a></p>
  </div>
</div>
