<div class="details-page" *ngIf="recordDetails; else loading">
  <div class="details-container">
    <h1 class="details-title">{{ recordDetails.name }}</h1>
    <div class="details-info">
      <p><strong>Tipo:</strong> {{ recordDetails.type }}</p>
      <p><strong>Descripción:</strong> {{ recordDetails.description }}</p>
      <p><strong>Link: </strong> <a [href]="recordDetails.link" target="_blank">{{ recordDetails.link }}</a></p>
    </div>
    <p></p>
    <a href="/search" class="back-button">Buscar más proyectos</a>
  </div>
</div>
<ng-template #loading>
  <div class="loading-message">Cargando detalles...</div>
</ng-template>
