<div class="page-container">
  <header class="header">
    <h1 class="header-title">Explora distintos proyectos</h1>
    <p class="header-subtitle">Encuentra proyectos según tus intereses y necesidades 📝</p>
  </header>

  <div class="content">
    <div class="search-container">
      <input [(ngModel)]="query" (input)="onSearch()" placeholder="Buscar proyectos..." class="search-input" />
      <div *ngIf="showNoResults" class="no-results-message">
        No se encontraron resultados.
      </div>
      <div *ngIf="results.length > 0">
        <ul class="search-results">
          <li *ngFor="let result of results" class="search-result">
            <a (click)="onSelectResult(result.name)">{{ result.name }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
