<!--ENCABEZADO-->
<figure>
  <img class="banner" src="assets/img/banner.jpg" alt="Banner">
</figure>

<!--CONTENIDO-->
<div>
  <router-outlet></router-outlet>
  <app-store-articles></app-store-articles>
</div>

<!--PIE DE PÁGINA-->
<footer>
  <div class="socialmedia">
      <a href="https://instagram.com/" target="_blank"><img class="iconsocialmedia" src="assets/img/instagram.png" alt="Instagram"></a>
      <a href="https://www.whatsapp.com/?lang=es_LA" target="_blank"><img class="iconsocialmedia" src="assets/img/wsp.png" alt="WhatsApp"></a>
      <a href="https://outlook.live.com/mail/0/inbox" target="_blank"><img class="iconsocialmedia" src="assets/img/email.png" alt="Email"></a>
      <a href="https://www.google.com/maps/" target="_blank"><img class="iconsocialmedia" src="assets/img/ubicacion.png" alt="Ubicacion"></a>
  </div>
</footer>